html {
    scroll-behavior: smooth;
}

.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}


.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
}


#card-2 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: -18%;
    margin-bottom: 25%;
    margin-top: 1.5%;
    background: radial-gradient(
            hsl(0, 2%, 59%),
            hsl(12, 3%, 69%)
    );
    width: 140%;
    display: table;
    vertical-align: top;
}

#card-3 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 25%;
    margin-top: -15%;
    background: radial-gradient(
            hsl(0, 2%, 59%),
            hsl(12, 3%, 69%)
    );
    width: 80%;
    display: table;
    vertical-align: top;
}

#myform {
    margin-top: 1.5%;
    margin-left: -60%;
}


#card-2 .card-heading {
    width: 29.1%;
}

#card-2 .card-body {
    display: table-cell;
    padding: 80px 90px;
}

@media (max-width: 767px) {
    #card-2 {
        display: block;
    }

    #card-2 .card-heading {
        width: 100%;
        display: block;
        padding-top: 300px;
        background-position: left center;
    }

    #card-2 .card-body {
        display: block;
        padding: 60px 50px;
    }
}


/*input[type="checkbox"] {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*    cursor: pointer;*/
/*}*/

/*input[type="checkbox"]:focus {*/
/*    outline: 0;*/
/*}*/

.toggle {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    height: 22px;
    width: 42px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all .2s ease;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
    border-color: #654FEC;
}

.toggle:checked:after {
    transform: translatex(20px);
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
}


@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

marquee {
    font-size: 30px;
    font-weight: 800;
    color: #8ebf42;
    font-family: sans-serif;
}

body {
    background-size: 400% 400%;
    background: radial-gradient(
            hsl(30, 41%, 48%),
            hsl(199, 14%, 49%)
    ) fixed;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

h1 {
    color: #333333;
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 8%;
}


h2 {
    color: darkblue;
    text-align: left;
    margin-left: 1%;
    font-size: 25px;
}

h3 {
    color: black;
    text-align: center;
    font-size: 25px;
    height: 35px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: -1%;

}

h4 {
    background: transparent;
    margin-bottom: 1em;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

h5 {
    color: #333333;
    font-size: 30px;
    font-family: "Bodoni", serif;
    margin-left: 45%;
}

h6 {
    color: #333333;
    margin-left: 3%;
    font-size: 20px;
    font-family: "Bodoni", serif;
    font-weight: bold;
}


.logo {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 39%;
}

#config {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    min-height: 540px;
    margin-bottom: 2%;
}

#fields {
    padding: 10px;
    text-align: center;
    margin-left: -40%;
    background: radial-gradient(
            hsl(26, 33%, 80%),
            hsl(10, 3%, 54%)
    );
    border-radius: 20px;
    width: 130%;
}


#error_msgs_list {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    background: grey;
}

#error-msgs {
    width: 50%;
    border-radius: 3px;
    padding: 20px;
    margin-left: 16%;
    margin-top: -2%;
    min-height: 600px;
}

.custom-file-input {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    text-shadow: 1px 1px #fff;
    font-weight: 1000;
    font-size: 10pt;
    width: 180px;
}

input[type=text], select {
    width: 120px;
    font-size: 14px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 7px;
    color: black;
    box-sizing: border-box;
    margin: 8px 0 8px 1%;
    height: 40px;
}

input[type=number], select {
    width: 195px;
    padding: 2px 2px 2px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 7px 0 7px 4%;
}

/*[type="file"] {*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*    width: 0;*/
/*}*/

[type="file"] + label {
    border: none;
    background: radial-gradient(
            hsl(180, 12%, 37%),
            hsl(11, 58%, 69%)
    ) fixed;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"] + label:hover {
    background-color: #d3460d;
}

[type="file"] + label.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px #f57128;
    transition: none;
}

[type="file"] + label.btn-1:hover {
    box-shadow: 0 4px #f57128;
    top: 2px;
}

[type="file"] + label.btn-2 {
    background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;
}

[type="file"] + label.btn-2::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
}

[type="file"] + label.btn-2:hover {
    background-color: #497f42;
}

[type="file"] + label.btn-2:hover::before {
    right: 75%;
}

[type="file"] + label.btn-3 {
    background-color: #ee6d9e;
    border-radius: 0;
    overflow: hidden;
}

[type="file"] + label.btn-3 span {
    display: inline-block;
    height: 100%;
    transition: all 0.3s;
    width: 100%;
}

[type="file"] + label.btn-3::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 130%;
    height: 100%;
    left: 0;
    line-height: 2.6;
    position: absolute;
    top: -180%;
    transition: all 0.3s;
    width: 100%;
}

[type="file"] + label.btn-3:hover {
    background-color: #ae144f;
}

[type="file"] + label.btn-3:hover span {
    transform: translateY(300%);
}

[type="file"] + label.btn-3:hover::before {
    top: 0;
}

.wrapper {
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 500px;
    padding: 2rem;
    width: 100%;
}

.footer {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: 3rem;
}

h1, p {
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    color: red;
}

a {
    color: #31c1ef;
    text-decoration: none;
}


/*label {
    background: transparent;
    padding-right: 5px;
    margin-bottom: 1em;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}*/


p {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.2s ease-in-out;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.form-type {
    justify-content: center;
}

#fileName {
    width: 300px;
}

#uploadCSV {
    background: radial-gradient(
            hsl(180, 12%, 37%),
            hsl(11, 56%, 69%)
    ) fixed;
    color: black;
    padding: 15px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 4px 2px -97px -1%;
    border-color: black;
    box-sizing: border-box;
    height: 50px;
}

#view-errors {
    border: 1px solid #ccc;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    background: radial-gradient(
            hsl(5, 66%, 51%),
            hsl(11, 56%, 69%)
    );
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 4px 7% 4px 46%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.header {
    z-index: 10;
    background: radial-gradient(
            hsla(351, 53%, 67%, 0.97),
            hsl(119, 8%, 51%)
    ) fixed;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 99px;
}


.upload {
    background-color: #a99a86;
    height: 5%;
    display: none;
    -webkit-border-radius: 30px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    padding: 20px 20px;
    margin-top: 4%;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}


.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
    border-left: 4px solid grey;
    border-right: 4px solid grey;
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
}

.column {
    width: 50%;
    padding: 0 10px;
}

.row {
    margin-left: 34%;
    margin-top: 3%;
}

.row1 {
    margin-bottom: 40%;
    text-align: center;
    margin-left: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card1-panel {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    margin-left: -60%;
    padding: 40px;
    margin-top: -20%;
    width: 1000px;
    min-height: 100px;
    overflow: hidden;
    opacity: 80%;
    background: #FFFFF0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.success-msg {
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    color: black;
    margin: 10px 0 10px 2%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 30px;
    margin-top: 5%;
    margin-right: 4%;
    margin-left: -12%;

}

.switch input {
    opacity: 0;
    width: 4%;
    height: 0;
}

.chooseFile {
    margin-left: -200%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300%;
    margin-left: -260%;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    font-size: 16px;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-container {
    padding: 10px;
    background-color: white;
}

.form-container input[type=text]:focus, .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


textarea {
    overflow-y: scroll;
    height: 150px;
    resize: none;
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 8px;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;

}

#list {
    font-family: "Bodoni", serif;
    font-size: 20px;
}

#outer {
    width: 100%;
}

.inner {
    display: inline-block;
}


.button-control a {
    border: 1px solid #ccc;
    border-radius: 7px;
    background: #333333;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: inline-block;
    visibility: hidden;
    justify-content: space-between;
}

.button-control {
    text-align: center;
}


#button-load {
    color: black;
    padding: 12px 24px;
    font-size: 36px;
    text-align: center;
    margin-left: 48%;
    margin-top: 3%;
    visibility: hidden;
    radius: 24px;
}


.pagination ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    margin: 0 10px 0 10px;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 60px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0 -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #000;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    left: 35%;
    width: 650px;
    height: 440px;
    margin-top: 300px;
    margin-left: -200px;
    border-radius: 39px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #acacac;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 360px;
    border-radius: 39px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    background: radial-gradient(
            hsl(180, 35%, 73%),
            hsl(18, 29%, 60%)
    ) fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


h1 {
    font-size: 36px;
    font-weight: 500;
    color: black;
}


h11 {
    font-size: 34px;
    color: black;
    border-radius: 6px;
}

.dropzone {
    width: 200px;
    height: 10px;
    margin-top: -2%;
}

.upload-icon {
    margin: 25px 2px 2px 2px;
}


.upload-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn {
    display: block;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    border: 0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

